modules = ["nodejs-20", "python-3.12"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[workflows]
runButton = "Start Bilingui-AI"

[[workflows.workflow]]
name = "Start Bilingui-AI"
author = 45206497
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[ports]]
localPort = 8081
externalPort = 80
